<footer>
    &copy; {{ .Now.Format "2006" }} Antonio Cheong &mdash; <a href="/">Home</a> &mdash; <a href="/privacy-policy/">Privacy Policy</a> &mdash; <a href="/contact/">Contact</a>
</footer>
</body>
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//lmk.duti.dev/";
    _paq.push(['setTrackerUrl', u+'pixel']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'pixel.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript>
<p><img referrerpolicy="no-referrer-when-downgrade" src="//lmk.duti.dev/pixel?idsite=1&amp;rec=1" style="border:0;" alt="" /></p>
</noscript>
<!-- End Matomo Code -->

</html>
