<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/style.css?v={{ .Now.Unix }}">
<title>{{ .Title }}{{ if ne .Page.UrlPath "" }} - {{ .Site.Title }}{{ end }}</title>
<link rel="canonical" href="{{ .Page.Permalink }}">
<link rel="alternate" type="application/rss+xml" href="/feed.xml">
<link rel="sitemap" type="application/xml" href="/sitemap.xml">
{{ if not .Page.DatePublished.IsZero -}}
<meta property="og:title" content="{{ .Page.Title }}">
<meta property="og:url" content="{{ .Page.Permalink }}">
<meta property="og:image" content="{{ .Site.Url }}img/avatar.jpeg">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{- end -}}
</head>
<body>
<header class="site-header">
    <nav>
      <ul>
        <li><a href="/" {{ if eq .Page.UrlPath "" }}class="active"{{ end }}>Home</a></li>
        <li><a href="/posts/" {{ if eq .Page.UrlPath "posts/" }}class="active"{{ end }}>Blog</a></li>
        <!-- <li><a href="/snippets/" {{ if eq .Page.UrlPath "snippets/" }}class="active"{{ end }}>Code Snippets</a></li> -->
        <!-- <li><a href="/shorts/" {{ if eq .Page.UrlPath "shorts/" }}class="active"{{ end }}>Shorts</a></li> -->
        <li><a href="/bookmarks/" {{ if eq .Page.UrlPath "bookmarks/" }}class="active"{{ end }}>Bookmarks</a></li>
        <li><a href="/gallery/" {{ if eq .Page.UrlPath "gallery/" }}class="active"{{ end }}>Gallery</a></li>
      </ul>
    </nav>
</header>
