<!doctype html>
<html lang="en">
  <head>
    {{ template "_head.html" . }}
  </head>
  <body>
    {{ template "_nav.html" . }}
    <main class="content container">
      <h1>{{$.Title}}</h1>
      {{$.Content}} {{ $year := 0 }} {{ $month := 0 }} {{ range $i, $post :=
      $.Posts }} {{ if (HasPrefix $post.UrlPath "archive/") }} {{ if not (eq
      $post.DatePublished.Year $year) }} {{ $year = $post.DatePublished.Year }}
      {{ $month = 0 }}
      <h2>{{ $post.DatePublished.Year }}</h2>
      {{ end }} {{ if not (eq $post.DatePublished.Month $month) }} {{ $month =
      $post.DatePublished.Month }}
      <h4>{{ $post.DatePublished.Format "January" }}</h4>
      {{ end }}

      <ul class="posts-list">
        <li>
          <a href="/{{ $post.UrlPath }}">{{ $post.Title }}</a><br />
          <small>{{ $post.DatePublished.Format "Jan 2, 2006" }}</small>
        </li>
      </ul>
      {{ end }} {{ end }}
    </main>
    {{ template "_foot.html" . }}
  </body>
</html>
