{{ template "_header.html" .}}
<main class="content container">
  {{.Content}}
  <h2>Latests posts</h2>
  <ul>
    {{ range $post := (slice .Posts 0 4) }}
    <li>
      <a href="/{{ $post.UrlPath }}">{{ $post.Title }}</a>
      -
      <span>{{ $post.Category }}</span><br
      >
      <small>{{ $post.DatePublished.Format "Jan 2, 2006" }}</small>
    </li>
    {{ end }}
  </ul>
  <p>View
    <a href="/posts/">View all posts</a>.</p>
  <h2>Latest Projects</h2>
  <ul>
    <li><a href="https://github.com/CopilotC-Nvim/CopilotChat.nvim">CopilotChat.nvim</a>: GitHub Copilot Chat for Neovim with all the bells and whistles from VSCode like embeddings, completion, diffs and quickfix integration.</li>
    <li><a href="https://github.com/acheong08/apple-corelocation-experiments">Corelocation Experiments</a>: Exfiltrating Apple's AP Geolocation database, IOS location spoofing, and Ichnaea compatible proxy to replace MLS on Linux.</li>
  </ul>
  <h2>Archived Projects</h2>
  <ul>
    <li><a href="https://github.com/acheong08/ChatGPT">revChatGPT</a>: The first ChatGPT SDK from before an official API was released</li>
    <li><a href="https://github.com/acheong08/obi-sync">Obi-Sync</a>:  Reverse engineering of the native Obsidian sync and publish server</li>
    <li><a href="https://github.com/acheong08/CVE-2022-26726-POC">CVE-2022-26726</a>: My first CVE and bug bounty - a TCC bypass on MacOS and IOS</li>
  </ul>
</main>
{{ template "_footer.html" }}
